# Java / Maven / Gradle
target/
build/
*.class
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.vscode/

# Node / Frontend
node_modules/
dist/
.next/

# Env & logs
.env
*.log
.DS_Store

# Docker
db/data/
